[submodule "bundle/vimsence"]
	path = bundle/vimsence
	url = https://github.com/vimsence/vimsence.git
[submodule "bundle/copilot.vim"]
	path = bundle/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
